<!DOCTYPE html>

<head>
	<title>{{person.name}}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>

<body>
<img src="/static/knownPeople/{{person.image}}" width=700>
<div id="description">
<h2>This is <span id=nameSpot>{{person.name}}</span></h2>
<p>{{person.relation}}</p>
<p>You last saw{{person.pronoun}} at {{person.lastSeen}}<br/>
And met {{person.pronoun}} at {{person.firstSeen}}
</p>
</div>
<script>
var host = "http://"+window.location.hostname;
function httpGetAsync(theUrl, callback)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}
function handleUpdateCheckResponse(responseText){
	console.log(responseText)
	if(responseText=="True"){
		location.reload();	
	}
}

function checkForUpdates(){
	httpGetAsync(window.location.origin+"/api/queryForUpdate?name={{person.name}}", handleUpdateCheckResponse)
	setTimeout(checkForUpdates, 1500)
}


checkForUpdates()
</script>
</body>
